@import "./constants.css";


.recently-viewed-collapse-btn {
  border: none;
  background: transparent;
  padding: 12px 0;
  font-size: larger;
  color: var(--font-primary-color);
}

.slider {
  margin: 36px;
  padding: 12px;
  .slider-item {
    width: max-content;
    height: max-content;
    display: flex;
    flex-direction: column;

    .slider-img {
      margin: 5px;
      height: 222px;
      width: 150px;
    }

    .img-caption {
      width: 100%;
      color: var(--font-primary-color);
      text-align: center;
    }
  }
}



.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;

  .title {
    text-align: center;
    margin-bottom: 15px;

    .movies {
      color: #C5C5C5;
    }

    .db {
      color: #FFD600;
    }
  }

  .search-form {
    .search-box {
      display: flex;
      align-items: center;
      justify-content: space-between;
      max-width: 18em;
      border: none;
      border-bottom: 0.5px grey solid;

      .btn-icon {
        margin: 0 10px;
      }

      .search-input {
        color: var(--font-primary-color);
        font-size: large;
        background-color: transparent;
        height: 3em;
        padding-left: 1em;
        border: none;
        outline: none;
        border-radius: 8px;
      }

      .clear-btn {
        background-color: transparent;
        color: var(--font-primary-color);
        font-size: large;
        border: none;
        padding: 4px;
      }
    }
  }
}

.shows-board {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-evenly;

  .tabs-header {
    display: flex;
    width: 100%;
    margin-top: 24px;
    margin-bottom: 24px;

    .tab-link {
      border: none;
      background-color: transparent;
      color: var(--font-primary-color);
      width: 50%;
      height: 48px;
      font-size: x-large;
    }

    .active-tab {
      border-bottom: var(--border-color) 3px solid;
    }
  }

  .no-results {
    font-size: x-large;
    .sad-emoji {
      width: 100%;
      color: var(--primary-color);
      font-size: xxx-large;
    }
  }
  .yellow-border {
    border: var(--border-color) 5px solid;
  }

  .show-item {

    .show-container {
      background-size: contain;
      background-repeat: no-repeat;
      height: 444px;
      width: 292px;
      display: flex;
      flex-direction: column;

      .show-year {
        height: 44px;
        padding: 10px;
        text-shadow: 0px 0px 9px rgba(0, 0, 0, 0.9);
        background-image: linear-gradient(to top, rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.8));
        font-size: larger;
        font-weight: bold;
      }

      .show-title {
        margin-top: auto;
        height: 150px;
        padding: 40px;
        padding-top: 20px;
        font-size: x-large;
        font-weight: bold;
        text-shadow: 0px 0px 9px rgba(0, 0, 0, 0.9);
        text-align: center;
        background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.9));
      }
    }
  }
}


.loader-icon {
  margin: auto;
  font-size: 4em;
  color: var(--border-color);
  -webkit-animation: spin 4s linear infinite;
  -moz-animation: spin 4s linear infinite;
  animation: spin 4s linear infinite;
}

@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(360deg);
  }
}

@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.show-preview-container {
  z-index: 1;
  border: var(--border-color) 5px solid;
  padding: 20px;
  width: 100%;
  margin-right: 12px;
  margin-right: 12px;

  .show-preview-details {
    display: flex;
    flex-direction: column;
    gap: 24px;

    .show-preview-title {
      font-size: xx-large;
    }

    .show-preview-plot {
      font-size: larger;
    }

    .show-details-lists {
      display: flex;
      justify-content: space-between;
      gap: 16px;

      .preview-list-container {
        display: flex;
        flex-direction: column;
        gap: 12px;
        max-width: 240px;

        .list-title {
          font-size: larger;
          font-weight: bold;
        }

        .rating-star {
          color: var(--primary-color);
          font-size: x-large;
          margin-right: 5px;
        }

        .genre-list {
          display: flex;
          flex-wrap: wrap;
          gap: 6px;

          .genre-item {
            color: #FFF;
            background: #A4A4A4;
            padding: 6px;
            border-radius: 16px;
            text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.9);
          }

        }

        .directors-list {
          display: flex;
          flex-direction: column;
          gap: 6px;
        }

        .languages-list {
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
          gap: 10px;

          .language-item {
            color: var(--primary-color);
          }
        }

      }

    }

    .more-info-btn {
      background-color: var(--primary-color);
      padding: 12px 24px;
      font-size: larger;
      font-weight: bolder;
      border-radius: 20px;
    }

  }

}
@media only screen and (min-width: 600px) {
  .header {
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: row;
  }
}

@media only screen and (max-width: 900px) {
  .show-details-lists {
    flex-direction: column;
  }
}