:root {
  --font-primary-color: #fff;
  --bg-color: #000;
  --primary-color: #FFD600;
  --border-color: #FFD600;
}

.app {
  background-color: var(--bg-color);
  color: var(--font-primary-color);
  width: 100%;
  min-height: 100vh;
  padding: 20px;
  padding-top: 30px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;

  .title {
    text-align: center;
    margin-bottom: 15px;
    .movies {
      color: #C5C5C5;
    }

    .db {
      color: #FFD600;
    }
  }

  .search-form {
    .search-box {
      display: flex;
      align-items: center;
      justify-content: space-between;
      max-width: 18em;
      border: none;
      border-bottom: 0.5px grey solid;

      .search-input {
        color: var(--font-primary-color);
        font-size: large;
        background-color: transparent;
        height: 3em;
        padding-left: 1em;
        border: none;
        /* width: 100px; */
        outline: none;
        border-radius: 8px;
      }

      .clear-btn {
        background-color: transparent;
        color: var(--font-primary-color);
        font-size: large;
        border: none;
        padding: 4px;
      }
    }
  }
}

.shows-board{
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-evenly;
  
  .board-title {
    width: 100%;
    margin: 15px;
  }

  .show-item {

    .show-container {
      background-size: contain;
      background-blend-mode: color-burn;
      height: 444px;
      width: 300px;
      display: flex;
      flex-direction: column;

      .rating {
        height: 44px;
        padding: 10px;
        text-shadow: 0px 0px 9px rgba(0, 0, 0, 0.9);
        background-image: linear-gradient(to top, rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.8));
      }
      .show-title {
        margin-top: auto;
        height: 150px;
        padding: 40px;
        padding-top: 20px;
        font-size: x-large;
        font-weight: bold;
        text-shadow: 0px 0px 9px rgba(0, 0, 0, 0.9);
        text-align: center;
        background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.9));
      }
    }
  }
}


.loader-icon {
  margin: auto;
  font-size: 4em;
  color: var(--border-color);
  -webkit-animation: spin 4s linear infinite;
  -moz-animation: spin 4s linear infinite;
  animation: spin 4s linear infinite;
}

@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(360deg);
  }
}

@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
